:root {

  --ion-font-family: "Raleway", "Roboto", "Helvetica Neue", sans-serif;
  --ion-background-color: #F2F2F2;
  --ion-tab-bar-background: #F9F9F9;
  --ion-toolbar-background: #FFF;
}


.card {
  background: #FFF;
  margin: 0;
  border-radius: 0;
  box-shadow: 1px 0 1px #999;
}


/*
.title-md {
  font-weight: 700;
}


.item-label {
  background: #FFF;
}

h2 {
  font-weight: 700;
}

h3 {
  font-size: 16px;
  font-weight: 700;
  color: #2553CC;
}

.comment {
  background: #FFF;
  border-radius: 5px;
  padding: 0 .5em;
  margin: 0 0 2em;
}*/